name: Run Tests

on:
  push:
    branches:
      - main
      - next
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Repository auschecken
        uses: actions/checkout@v4

      - name: Node installieren
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Abhängigkeiten installieren
        run: npm install

      - name: Tests ausführen
        env:
          API_KEY: ${{ secrets.TMDB_KEY }}
        run: npm run test
